
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

body {
    background-color: #C2D3CD;
    background-image: linear-gradient(45deg,#C2D3CD,#C2D3CD);
    font-family: "Montserrat";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
.login-page {
    width: 360px;
    padding: 1% 0 0;
    margin: auto;
  }
  .login-page .form .login{
    margin-top: -35px;
    margin-bottom: 5x;
  }

  .form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 50px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  .form input {
    font-family: "Montserrat";
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  .form button {
    font-family: "Montserrat";
    text-transform: uppercase;
    outline: 0;
    background-color: #328f8a;
    background-image: linear-gradient(45deg,#328f8a,#08ac4b);
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
  }
  .form .message a {
    color: #4CAF50;
    text-decoration: none;
  }
  
  .container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
  }

  
/* ===================================================== */

.base-nav{
    background-color:#56494C;
    color:white;
    height:5%;
    padding-top:1%;
    border-radius: 15px 50px 30px 5px;
    margin-left: auto;
    margin-right:auto;
    
}

.base-body{
    background-color:white;
    color:#56494C;
    text-align:center;
    width:100%;

}

.submit-btn{
    border-radius:10px;
    background-color:#56494C;
    color:white;
    width:80px;
    height:40px;
}
.nav-link{
    padding-right:30px;
}
a:hover, .submit-btn:hover{
    cursor:pointer;
}
a:link{
    color:white;
}
a:visited {
    color: white;
}
a:active{
    font-weight:bold;
}
.account-info{
    text-align:left;
    font-size:110%;
    margin-left:40%;
    padding-top:2%;
    padding-bottom:10%;
}

label{
    font-weight:bold;
}

.success-msg{
    padding:30px;
}

.flex-container{
    display: flex;
    background-color: #C2D3CD;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: space-around;
    list-style: none;
}

.shirtNames{
    
    background-color: 9FA4A9;
    color: white;
}
.flex-item {
    background: #C2D3CD;
    padding: 5px;
    width: 400px;
    height: 500px;
    margin-top: 10px;
    line-height: 0px;
    color: #C2D3CD;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
  }




.flex-item-content{
    background: #C2D3CD;
    padding: 5px;
    width: 400px;
    height: 100px;
    margin-top: 10px;
    line-height: normal;
    color: #C2D3CD;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
}


.flex-item-image{
    height: 400px;
    width: 400px;
}


* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #272727;
  font-family: "Montserrat", sans-serif;
}

.navMenu {
  position: top;
  top: 50%;
  left: 50%;
  
}

.navMenu a {
  color: #f6f4e6;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 80px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  padding: 20px;
}

.navMenu a:hover {
  color: #fddb3a;
}

.navMenu .dot {
  width: 6px;
  height: 6px;
  background: #fddb3a;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:nth-child(1):hover ~ .dot {
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(2):hover ~ .dot {
  -webkit-transform: translateX(110px);
  transform: translateX(110px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(3):hover ~ .dot {
  -webkit-transform: translateX(200px);
  transform: translateX(200px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(4):hover ~ .dot {
  -webkit-transform: translateX(285px);
  transform: translateX(285px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}
