<html>
    <head>
        <title>{{page_title}}</title>
        <link rel="stylesheet" href="/s/style.css">
    </head>
    <body class="base-body" style="overflow-x: hidden;">
        <nav class="navMenu">
            {% if current_user %}
            <label>{{current_user.username}}</label>
            <a href="/account">My Account</a>
            <a href="/logout">Sign Out</a>
            {% if current_user.acc_type == 'designer' %}
            <a href="/shirt-submission">Shirt Submission</a>
            {% endif %}
            {% else %}
            <a href="/login">Login</a>
            <a href="/register">Register</a>
            {% endif %}
            <a href="/products">Products</a>
            <a href="/about">About</a>
        </nav>
     
        <!-- <header>
            {% block header %}{% endblock %}
        </header> -->
        <section class="base-section">
            {% block content %}{% endblock %}
        </section>
    </body>
</html>