
    {% extends '_base-nav.html' %}
    {% block header %}
    <title>About</title>
    {% endblock %}   
    {% block content %}
    <div class="login-page">
        <div class="form">
            <div class="login">
                <div class="login-header">
                    <h1>About Our App</h1>
                    <p>Our app allows designers to upload and promote their own work.</p>
                    <p>As well as allow users to explore and vote on these creative designs.</p>
                 </div>
            </div>
         </div>
    </div>
        </header>
        <br>
        <br>
    <div class="login-page">
        <div class="form">
            <div class="login">
            <div class="login-header">
                <h2> How it works</h2>
                        <article>
                            <div>
                                <p> Every week designers create and upload t-shirt designs to be uploaded to the community voting page.
                                    Registered users can then login and vote for their favorite designs of the week on the product page.
                                    At the end of the week the design with the most votes will be promoted on the product page for the following week. Users will also be able to view past weeks' winners.
                                </p>
                            </div>
                        </article>
                </div>
            </div>
        </div>
    </div>
    </body>
    {% endblock %}