
    {% extends '_base-nav.html' %}
    {% block header %}
    <title>Account</title>
    {% endblock %}   
    {% block content %}
    <div class="login-page">
        <div class="form">
            <div class="login">
                <div class="login-header">
                    <h2>My Account</h2>
                    <!-- <div class="account-info"> -->
                        <p><b>Name: </b><span class="account-detail">{{ current_user.first_name }} {{current_user.last_name}}</span><p>
                        <p><b>Username: </b><span class="account-detail">{{ current_user.username }}</span><p>
                        <p><b>Account Type: </b><span class="account-detail">{{ current_user.acc_type }}</span><p>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--designs that the user has submitted should be displayed here-->
    <div class="user-designs">
        <p>Submitted Designs:</p>
    </div>
    {% endblock %}