<html>    
    <head>    
        <title>Final Project</title>
        <!-- <link rel="stylesheet" type="text/css" href="loginStyles.css">     -->
    </head>    
    <body>
        <nav>
            <a href="LoginPage.html"> Login Page T1 </a>
            <a href="ProductPage.html"> Products </a>
            <a href="About.html"> About </a>
        </nav>    
        <h2>Login Page</h2><br>    
            <div class="login">
                <form id="login" method="get">    
                    <label><b>User Name     
                    </b>    
                    </label>    
                    <input type="text" name="Uname" id="Uname" placeholder="Username">    
                    <br><br>    
                    <label><b>Password     
                    </b>    
                    </label>    
                    <input type="Password" name="Pass" id="Pass" placeholder="Password">    
                    <br><br>    
                    <input type="button" name="log" id="log" value="Log In Here">       
                    <br><br>    
            </div>    
    </body>    
</html> 