
    {% extends '_base-nav.html' %}
    {% block header %}
    <title>Login Page</title>
    {% endblock %}   
    {% block content %}
        <h2>Login</h2><br>    
            <div class="login">
                {% if error_message %}<div><strong>{{error_message}}</strong></div>{% endif %}
                <form id="login" name=login method="POST">    
                    <label><b>Email     
                    </b>    
                    </label>    
                    <input type="text" name="email" id="email" placeholder="Email" required>    
                    <br><br>    
                    <label><b>Password     
                    </b>    
                    </label>    
                    <input type="Password" name="password" id="password" placeholder="Password" required>    
                    <br><br>    
                    <input type="submit" name="login" id="login" value="login" class="submit-btn">
                </form>     
                    <br><br>    
            </div>    
    </body>    
    {% endblock %}
