{% extends '_base-nav.html' %}
{% block header %}
<title>Product Page</title>
{% endblock %}
{% block content %}

<ul class="flex-container">

    {% for shirt in shirtList %}

    <div class="flex-item">
        <div class="flex-item-content">
            <li class="shirtNames">{{ shirt['shirtName'] }}</li>
            <li class="shirtNames">{{ shirt['designer'] }}</li>
            <li class="shirtNames">{{ shirt['votes'] }}</li>
            <img src='/s/images/samp2.png' class="flex-item-image">
            <li>
                <button action="/vote">Vote</button>
            </li>

        </div>
    </div>
    {% endfor %}

</ul>




</div>

{% endblock %}