{% extends '_base-nav.html' %}
{% block header %}
<title>Product Page</title>
{% endblock %}
{% block content %}

<ul class="flex-container">

    {% for shirt in shirtList %}

    <div class="flex-item">
        <div class="flex-item-content">
            <li class="shirtNames">{{ shirt['shirtName'] }}</li>
            <li class="shirtDesigner">{{ shirt['designer'] }}</li>
            <li class="shirtVotes">{{ shirt['votes'] }}</li>
            <li>
                <button action="/vote">Vote</button>
            </li>
        </div>
        <div class="flex-item-image">
            <p>
                <img src='/s/images/pngtree-settings-line-black-icon-png-image_691058.jpg'>
            </p>
        </div>
    </div>
    {% endfor %}

</ul>




</div>

{% endblock %}