<html>
    <head>
        <title>Final Project</title>
    </head>
    <body>
        <nav>
            <a href="LoginPage.html">Login Page</a>
            <a href="Register.html">Register</a>
            <a href="ProductPage.html">Products</a>
            <a href="About.html">About</a>
            <a href="ShirtSubmission.html">Shirt Submission</a>
        </nav>
        <header>
            <h1>Products</h1>
        </header>
        <section>
            <br>
            <h2>Sample Products</h2>
            <img src="/images/samp1.png"alt = "Sample 1" height="350" width="350">
            <img src="/images/samp1.png"alt = "Sample 2" height="350" width="350">
            <img src="/images/samp1.png"alt = "Sample 3" height="350" width="350">
        </section>
    </body>
</html>