
    {% extends '_base-nav.html' %}
    {% block header %}
    <title>Register Account</title>
    {% endblock %}   
    {% block content %}
        <div class="login-page">
                <div class="form">
                    <div class="login">
                        <div class = "login-header">
                            <h2 class = "login-header">Create Account</h2><br>
                        </div>
                        {% if error_message %}<div><strong>{{error_message}}</strong></div>{% endif %}
                    </div>
                            <form id="register" method="post">
                                <!-- First Name -->
                                <label for="fname">First Name</label> 
                                <input type="text" name="fname" id="fname" placeholder="First Name" required>
                                <!-- Last Name -->
                                <label for="lname">Last Name</label>  
                                <input type="text" name="lname" id="lname" placeholder="Last Name" required>
                                <!-- Username -->    
                                <label for="username">Username</label> 
                                <input type="text" maxlength="15" pattern="[A-Za-z]{4,}" onfocus="displayMessage()" name="username" id="username" placeholder="Username" required>
                                <label for="username" id="uname-info" style="visibility: hidden;"><br>must consist of 4 or more letters only</label>                                 
                                <!-- Email -->
                                <label for="email">Email</label> 
                                <input type="text" name="email" id="email" placeholder="Email" required>    
                                <!-- Password -->
                                <label for="password">Password</label> 
                                <input type="Password" name="password" id="password" placeholder="Password" required>    
                                <!-- Account -->
                                <label for="account-type">Account Type:</label>
                                <br></br>
                                <!-- Designer -->
                                <label for="designer">Designer</label>
                                <br></br>
                                <input type="radio" id="designer" name="account-type" value="designer" required>
                                <!-- Patron -->
                                <label for="patron">Patron</label>
                                <br></br>
                                <input type="radio" id="patron" name="account-type" value="patron" required>

                                <button type="submit" name="register" id="register" value="Register" class="submit-btn">Register</button>    
                            </form>                             
                    <script>
                        function displayMessage(){
                            document.getElementById("uname-info").style.visibility = "visible";
                        }
                    </script>
                </div>
        </div>
    </body>  
 
    {% endblock %}