<html>    
    <head>    
        <title>Final Project</title>
        <!-- <link rel="stylesheet" type="text/css" href="loginStyles.css">     -->
    </head>    
    <body>
        <nav>
            <a href="LoginPage.html">Login Page</a>
            <a href="Register.html">Register</a>
            <a href="ProductPage.html">Products</a>
            <a href="About.html">About</a>
            <a href="ShirtSubmission.html">Shirt Submission</a>
        </nav>    
        <h2>Registration</h2><br>    
            <div class="login">
                <form id="login" method="post">    
                    <input type="text" name="fname" id="fname" placeholder="First Name">
                    <br><br>  
                    <input type="text" name="lname" id="lname" placeholder="Last Name">    
                    <br><br>  
                    <input type="text" name="email" id="email" placeholder="Email">    
                    <br><br> 
                    <input type="Password" name="password" id="password" placeholder="Password">    
                    <br><br> 
                    <input type="submit" name="register" id="register" value="Register">       
                </form>                          
            </div>    
    </body>    
</html> 