<html>
    <head>
        <title>Final Project</title>
    </head>
    <body>
        <nav>
            <a href="LoginPage.html">Login Page</a>
            <a href="Register.html">Register</a>
            <a href="ProductPage.html">Products</a>
            <a href="About.html">About</a>
            <a href="ShirtSubmission.html">Shirt Submission</a>
        </nav>
        <form action="/action_page.php">
            <input type="file" id="myFile" name="filename">
            <input type="submit">
        </form>    
    </body>
</html>