<html>
    
    <head>
        <title>Final Project</title>
        <!-- <link rel="stylesheet" type="text/css" href="loginStyles.css">     -->
    </head>
    <body>
        <nav>
            <a href="LoginPage.html">Login Page</a>
            <a href="Register.html">Register</a>
            <a href="ProductPage.html">Products</a>
            <a href="About.html">About</a>
            <a href="ShirtSubmission.html">Shirt Submission</a>
        </nav>
        
        
        
    </body>
</html>