
    {% extends '_base-nav.html' %}
    {% block header %}
    <title>Shirt Submission</title>
    {% endblock %}   
    {% block content %}
<h1>Shirt Submission</h1>
        <form action="/shirt-submission" method="POST" id="shirt-form">
            <div class= "shirt-submission">
            <label for="shirtName"> Design Name </label>
            <input type="text" id="shirtName" name="shirtName" value="">
            <br><br>
            <label for="shirtImage">Select Design Image:</label>
            <input type="file" id="shirtImage" name="shirtImage" accept="image/*" required>
            <br><br>
            <button class="submit-btn" onclick="checkForm()">Submit</button>
            </div>
        </form>
        <script>
            function checkForm(){
                if (document.getElementById('shirtName').value ==""){
                    alert("Please add a name to your design")
                    
                } else if (document.getElementById("shirtImage").value!=""){
                    document.getElementById("shirt-form").submit();
                }
            }
        </script>

    </body>
    {% endblock %}