<html>
    <head>
        <title>Final Project</title>
    </head>
    <body>
        <nav>
            <a href="LoginPage.html">Login Page</a>
            <a href="Register.html">Register</a>
            <a href="ProductPage.html">Products</a>
            <a href="About.html">About</a>
            <a href="ShirtSubmission.html">Shirt Submission</a>
        </nav>
        <form action="/ShirtSubmission">
            <label for="img">Select image:</label>
            <input type="text" id="shirtName" name="shirtName">
            <input type="file" id="shirtImage" name="shirtImage" accept="image/*">
            <input type="submit">
        </form>    
    </body>
</html>